@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
style
＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c,sans-serif;"
}

body{
  height: 100vh;
  display:flex;
  alignment-baseline: central;
  align-items: center;
  justify-content: center;
}

.contact-form{
  padding: 50px 30px;
}

.title{
  text-align: center; 
  font-size: 40px;
  margin-bottom: 20px;
  font-weight:bold;
  color: white;
}

form{
  width: 510px;
  margin: 0 auto;
}

.item{
  overflow: hidden;
  margin-bottom: 20px;
}

label{
  float: left;
  margin-right: 20px;
  width: 135px;
  color: white;
}

.input{
  float: left;
  width:500px;
}

textarea{
  border-radius: 5px;
  padding:10px;
  height: 160px;
  width: 300px;
  font-size: 15px;
}

input[type="submit"]{
  background-color:  #c2704f;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  margin:0 5px;
  box-shadow: 1px 1px 3px black;
  cuasor:pointer;
}  
input[type="reset"]{
  background-color:  #837a7a;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  margin:0 5px;
  box-shadow: 1px 1px 3px black;
  cuasor:pointer;
}  
